.widget, .widget-selector {
  border: 1px solid black;
  padding: 0.5em;
}

.widget-selector {
  float: left;
}

.preview {
  border: 1px solid black;
  min-height: 5em;
}

.widget-container .add-above,
.widget-container .add-below {
  padding: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.widget-container .add-above.show,
.widget-container .add-below.show {
  border: 1px solid gray;
  padding: 0.5em;
}

.widget-container .add-above .message,
.widget-container .add-below .message {
  display: none;
}

.widget-container .add-above.show .message,
.widget-container .add-below.show .message {
  display: block;
}
