.widget, .widget-selector {
  border: 1px solid black;
  padding: 0.5em;
}

.widget-selector {
  float: left;
}

.preview {
  border: 1px solid black;
  min-height: 5em;
}

.widget-container .drop-point {
  padding: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.widget-container .drop-point.show {
  border: 1px solid gray;
  padding: 0.5em;
}

.widget-container .drop-point .message {
  display: none;
}

.widget-container .drop-point.show .message {
  display: block;
}
